.navbar {
    background-color: #40128B;
    display: flex;
}
.navbar * {
    margin: 1.5rem;
}
.log:hover {
    cursor: pointer;
}
.navbar * {
    color: azure;
    padding: 0.3em;
}
.profile-msg {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}