
.form {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    text-align: center;
    padding-bottom: 0.6em;
}
.sigup {
    padding: 1.5em;
    border-radius: 0.25em;
    border: 1px solid sandybrown;
}

