.main {
    text-align: center;
    height: 110vh;
}

.dark {
    background-color: #9336B4;
    color: white;
}
button {
    margin: 15px;
    padding: 5px;
    border-radius: 10px;
}
.dark button {
    color: white;
}
