.form {
    padding: 0.3em;
    padding-bottom: 1em;
    margin: 0 auto;
    width: 70%;
    border-bottom: 3px solid salmon;
}
.form-input {
    margin: 2em;
    padding: 1.5em;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.form-input label {
    padding: 20px;
}
.btn {
    display: flex;
    justify-content: center;
}