.main-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.text * {
    text-decoration: none;
    color: black;
}
.main-head li {
    list-style-type: none;
    padding: 1rem;
    font-size: 1.25rem;
}
.outline {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;

}
.unread {
    margin: 5px;
}

.outline:hover {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    color: white;
    background-color: black;
}
.outline:hover * {
    color: white;
}
.text {
    display: flex;
}

.signup {
    display: flex;
}
.signup button {
    height: 40px;
    margin-top: 5px;
    margin-right: 20px;
}